<a class="code-button" href="{{ include.link }}">{{ include.text }}</a>

<style>
  .code-button {
    display: inline-flex; /* Ensure buttons stay in a row */
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    background-color: white;
    color: #7a4db7;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 6px;
    border: 1.5px solid rgba(122, 77, 183, 0.6);
    transition: all 0.2s ease-in-out;
    white-space: nowrap; /* Prevents button text from breaking */
  }

  .code-button:hover {
    background-color: rgba(122, 77, 183, 0.1);
    border-color: rgba(122, 77, 183, 0.8);
    color: #6a2de1;
    box-shadow: 0px 3px 6px rgba(122, 77, 183, 0.3);
    transform: translateY(-1px);
  }

  .code-button:active {
    background-color: rgba(122, 77, 183, 0.2);
    border-color: rgba(122, 77, 183, 0.9);
    box-shadow: none;
    transform: translateY(0);
  }
</style>

